/* RESET */

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* UTILITIES */

.col-33 {
    width: calc(100% / 3);
}

.col-66 {
    width: calc(2 * 100% / 3);
}

.row-reverse {
    flex-direction: row-reverse;
}

/* STYLE */

header {
    background-image: url(../img/jumbo.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    width: 90px;
}

.flag {
 width: 20px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

main h2 {
    color: #E45C34;
}

main p {
    color: white;
}

/* DEBUG */

.debug section, .debug .container, .debug .row, .debug [class^=col] {
    background-color: lightgray;
    border: 1px dotted black;
    padding: 20px;
}

.debug .container {
    background-color: lightgreen;
}

.debug .row {
    background-color: lightskyblue;
}

.debug [class^=col] {
    background-color: salmon;
    height: 200px;
}

.debug header [class^=col] {
    height: 20px;
}

.debug footer [class^=col] {
    height: 20px;
}

/* HEADER */

header nav {
    padding: 20px 0;
}

header nav .row {
    justify-content: space-between;
}

header .lang-menu {
    color: white;
}

header .flag {
    vertical-align: middle;
    margin: 0 4px;
}

header .motto {
    padding-bottom: 200px;
}

/* MAIN */

main {
    text-align: right;
}

main section {
    background-color: #004775;
}

main .row-reverse {
    text-align: left;
}

main .row {
    padding: 100px 0;
}

/* FOOTER */