/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container-lg {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

/* STYLE */

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Italiana', sans-serif;
}

/* UTILITIES */

.col-25 {
    width: 25%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-50 {
    width: 50%;
}

.col-66 {
    width: calc(2 * 100% / 3);
}

.row-reverse {
    flex-direction: row-reverse;
}

/* DEBUG */

.debug section, .debug .container, .debug .row, .debug [class^=col] {
    background-color: lightgray;
    border: 1px dotted black;
    padding: 20px;
}

.debug .container {
    background-color: lightgreen;
}

.debug .row {
    background-color: lightskyblue;
}

.debug [class^=col] {
    background-color: salmon;
    height: 600px;
}

.debug header [class^=col] {
    height: auto;
}

.debug footer [class^=col] {
    height: auto;
}

/* HEADER */

header {
    background-image: url(../img/mare\ 1.jpeg);
    background-size: cover;
    background-position: bottom;
    color: white;
}

header .container-lg {
    height: 100vh;
}

header .row {
    justify-content: space-between;
    height: 100%;
}

header .page-title {
    padding-top: 140px;
    font-size: 40px;
    letter-spacing: 12px;
    align-self: center;
}

header .nav {
    padding-top: 100px;
    padding-right: 50px;
    text-align: right;
    width: 20vw;
}

header .nav li {
    margin: 20px auto;
}

header .invis {
    width: 20vw;
}